@{
    ViewData["Title"] = "Ferreteria La Copaneca";
}

<div class="mb-6 mt-6">
    <h1>BIENVENIDO</h1>
    <h4>
        Nuestra empresa está especializada en ofrecer materiales de mejor calidad
        como ser: materiales de construcción, artículos de ferretería,
        artículos del hogar y otros servicios.
    </h4>
</div>



<div class="row editar-imag">
    <div class="col-4">
        <img class="img-fluid" alt="Herramientas" src="https://blog.deacero.com/hubfs/articulos%20indispensables%20para%20una%20ferreteria.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Herramientas" src="https://superchannel12.com/images/publicaciones/169940/169940.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Herramientas" src="https://tytenlinea.com/wp-content/uploads/2019/11/herramientas.jpg" />
    </div>
</div>

<div class="row gy-3">
    <div class="col-4">
        <img class="img-fluid" alt="Herramientas" src="https://th.bing.com/th/id/R.1293840da919e196bda040f1fe81362d?rik=nNklhmvECFV0sQ&pid=ImgRaw&r=0" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Herramientas" src="https://www.giliindustrial.com/blog/wp-content/archivos/2020/12/herramientas-ferreteria-industrial.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Herramientas" src="https://blog.deacero.com/hs-fs/hubfs/productos%20de%20ferreteria%20herramientas%20electricas.jpg?width=755&name=productos%20de%20ferreteria%20herramientas%20electricas.jpg style=" width: 500px; height: auto;"" />
    </div>

</div>

