@{
    ViewData["Title"] = "Home Page";
}

<!--
    COMENTARIO
-->

@*<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
</div>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
    <div class="col">Columna 4</div>
</div>

<div class="row">
    <div class="col-6">Columna 1</div>
    <div class="col-4">Columna 2</div>
    <div class="col">Columna 3</div>
</div>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
    <div class="col">Columna 4</div>
    <div class="col">Columna 5</div>
    <div class="col">Columna 6</div>
    <div class="col">Columna 7</div>
    <div class="col">Columna 8</div>
    <div class="col">Columna 9</div>
    <div class="col">Columna 10</div>
    <div class="col">Columna 11</div>
    <div class="col">Columna 12</div>
</div>

<hr />

<h2>Ejemplo #2</h2>
<div class="row">
    <div class="col-sm-4">Columna 1</div>
    <div class="col-sm-4">Columna 2</div>
    <div class="col-sm-4">Columna 3</div>
</div>*@


@*<h4>Ejemplo 3: Alineando Filas</h4>
<div class="row justify-content">
    <div class="col-3">Columna1</div>
    <div class="col-3">Columna2</div>
    <div class="col-3">Columna3</div>
</div>

<div class="row" style="height: 200px;">
    <div class="col aling-self-start">Columna1</div>
    <div class="col aling-self-center">Columna2</div>
    <div class="col aling-self-end">Columna3</div>
</div>

<h4>Ejemplo 4: Offset o salto de columnas</h4>
<div class="row">
    <div class="colum-3">Columna 1</div>
    <div class="colum-4 offset-5">Columna 2</div>
</div>

<div class="row">
    <div class="colum-2">Columna 1</div>
    <div class="colum-4 ms-auto">Columna 2</div>
</div>*@

@*<h4>Ejemplo 5: Gutters Horizontal</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="colum-2">
        <div class="bg-light border">
            Columna 1
        </div>
     </div>
    <div class="colum-4">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

<h4>Ejemplo 6: Gutter Vertical</h4>

    <div class="row gx-sm-0 gx-md-3 g-lg-5 gy-2">
    <div class="colum-6">
        <div class="bg-light border">
            Columna 1
        </div>
     </div>
    <div class="colum-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="colum-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="colum-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

<h4>Ejemplo 7: Gutter Vertical y Horizontal</h4>*@

<h4>Ejemplo 8: trabajar con imagenes en columnas</h4>
<div class="row">
    <div class="col-4">
        <img class="img-fluid" alt="Imagen Abstrac" src="https://s32625.pcdn.co/wp-content/uploads/2017/05/what-is-abstract-art-kandinsky.jpg.optimal.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Imagen Abstrac" src="https://s32625.pcdn.co/wp-content/uploads/2017/05/what-is-abstract-art-kandinsky.jpg.optimal.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Imagen Abstrac" src="https://s32625.pcdn.co/wp-content/uploads/2017/05/what-is-abstract-art-kandinsky.jpg.optimal.jpg" />
    </div>
</div>

<h4>Ejemplo 8: trabajar con imagenes veeticales</h4>
<div class="row gy-3">
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen Abstrac" src="https://s32625.pcdn.co/wp-content/uploads/2017/05/what-is-abstract-art-kandinsky.jpg.optimal.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen Abstrac" src="https://s32625.pcdn.co/wp-content/uploads/2017/05/what-is-abstract-art-kandinsky.jpg.optimal.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen Abstrac" src="https://s32625.pcdn.co/wp-content/uploads/2017/05/what-is-abstract-art-kandinsky.jpg.optimal.jpg" />
    </div>
</div>

@*<h4>Ejemplo 9: Imagenes en Thumbnail</h4>
<img class="img-thumbnail rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/b/b6/FCMotagua.png" />*@

@*<h2>Ejemplo 10: Colores</h2>
<div class="p-3 mmb-2 bg-primary text-white">.bg-primary</div>
<div class="p-3 mmb-2 bg-primary bg-gradient text-white">.bg-primarycon gradientes</div>

<div class="p-3 mmb-2 bg-secondary text-white">.bg-secondary</div>
<div class="p-3 mmb-2 bg-secondary bg-gradient text-white">.bg-succerss</div>

<div class="p-3 mmb-2 bg-success text-white">.bg-success</div>
<div class="p-3 mmb-2 bg-success bg-gradient text-white">.bg-success con gradientes</div>

<div class="p-3 mmb-2 bg-danger text-white">.bg-secondary</div>
<div class="p-3 mmb-2 bg-danger bg-gradient text-white">.bg-succerrs con gradientes</div>

<div class="p-3 mmb-2 bg-warning text-white">.bg-secondary</div>
<div class="p-3 mmb-2 bg-warning bg-gradient text-white">.bg-succerrs con gradientes</div>

<div class="p-3 mmb-2 bg-info text-white">.bg-secondary</div>
<div class="p-3 mmb-2 bg-info bg-gradient text-white">.bg-succerrs con gradientes</div>

<div class="p-3 mmb-2 bg-dark text-white">.bg-dark</div>
<div class="p-3 mmb-2 bg-dark bg-gradient text-white">.bg-dark con gradientes</div>*@

@*<h2>Ejemplo 11: Tablas</h2>

<table class="table table-hover table-bordered table-striped table-sm">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Juan</td>
            <td>Perez</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maria</td>
            <td>Mejia</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Karla</td>
            <td>Lopez</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td>3</td>
            <td></td>
        </tr>
    </tfoot>
</table>*@

@*<h2>Ejemplo 12: Ratio</h2>
<h5>Ejemplo sin Ratio</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/j-gSDwasKKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h5>Ejemplo con Ratio de 16x9</h5>
<div class="ratio ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/j-gSDwasKKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<hr/>

<div class="row gy-3">
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j-gSDwasKKI" title="YouTube VideoPlayer"></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j-gSDwasKKI" title="YouTube VideoPlayer"></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j-gSDwasKKI" title="YouTube VideoPlayer"></iframe>
        </div>
    </div>
</div>*@

@*<h2>Ejemplo 13: Tamaños</h2>
<h4>Anchura</h4>
<div class="w-25 bg-primary">Anho 25%</div>
<div class="w-50 bg-primary">Anho 50%</div>
<div class="w-75 bg-primary">Anho 75%</div>
<div class="w-100 bg-primary">Anho 100%</div>
<div class="w-auto bg-primary">Anho auto</div>

<h4>Alturas</h4>
<div class="bg-info" style="height: 100px;">
    <div class="h-25 d-inline-block bg-primary">Altura 25%</div>
    <div class="h-50 d-inline-block bg-primary">Altura 50%</div>
    <div class="h-75 d-inline-block bg-primary">Altura 75%</div>
    <div class="h-100 d-inline-block bg-primary">Altura 100%</div>
    <div class="h-auto d-inline-block bg-primary">Altura auto</div>
</div>

<h2>Todo el ancho del viewport</h2>
<div class="vw-100 bg-success">Anchura 100vw</div>
<div class="vh-100 bg-warning">Altura 100vh</div>*@

@*<h2>Ejemplo 14: Formularios</h2>

<form>
    <div class="mb-3">
        <label class="form-label">Correo Electronico</label>
        <input type="email" name="" class="form-control" placeholder="Ingrese su correo" />
    </div>

    <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Color Favorito</label>
        <select class="form-select">
            <option selected>Color Favorito</option>
            <option value="1">Azul</option>
            <option value="2">Rojo</option>
            <option value="3">Verde</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Es empleado</label>
        <input type="checkbox" class="form-check-input"/>
    </div>

    <div class="mb-3">
        <label class="form-label">Es mujer</label>
        <input type="radio" name="Genero" value="F" class="form-check-input" />
    </div>

    <div class="mb-3">
        <label class="form-label">Es hombre</label>
        <input type="radio" name="Genero" value="M"  class="form-check-input" />
    </div>
     <div class="mb-3">
         <label class="form-label">Correo Electronico</label>
         <input type="email" name="correo" class="form-control" placeholder="Ingrese su correo" disabled/>
     </div>
    
    <div class="mb-3">
        <input type="email" name="correo" class="form-control" placeholder="Correo Electronico" />
        <label class="form-label form-floating">Correo Electronico</label>
    </div>
    
    <div class="mb-3">
        <label class="form-label">contraseña</label>
        <input type="password" name="" class="form-control" placeholder="Ingrese su contraseña" />
    </div>
    
    <div class="mb-3">
        <label class="form-label">color de camisa</label>
    <input type="color" name="color-camisa" class="form-control form-control-color" />
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-primary"> Enviar</button>
        <input type="submit" class="btn btn-primary"/>
        <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>
</form>

<h2>Ejemplo 15: Formulario en Columnas</h2>

<form class="row">
    
</form>

<form class="row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Nombres" />
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Apellidos" />
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary"> Enviar </button>
    </div>
</form>*@


@*<h2>Ejemplo 16: Alertas</h2>
@*<div class="alert alert-success" role="alert">Alerta Exitosa</div>
<div class="alert alert-danger" role="alert">Alerta Error</div>
<div class="alert alert-warning" role="alert">Alerta Adventencia</div>

<button class="btn btn-primary" onclick="mostrarAlertaExitosa()">Mostrar Alerta Exitoso</button>
<button class="btn btn-primary" onclick="mostrarAlertaError()">Mostrar Alerta Error</button>

<div>
    Las alertas se mostraran aqui
</div>

<div id="contenedor-alertas" ></div>

@section Scripts{
    <script>
        function mostrarAlertaExitosa(){
            mostrarAlerta('Este es un mesaje exitoso', 'success');
        }
        function mostrarAlertaError(){
            mostrarAlerta('Este es un mesaje de error', 'danger');
        }
        function mostrarAlerta(mensaje, tipo) {
            const alerta = document.createElement('div');
            alerta.innerHTML = `
                        <div class="alert alert-${tipo} alert-dismissible fade-show" role="alert">${mensaje}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            `;

            const contenedorAlerta = document.getElementById('contenedor-alertas');
            contenedorAlerta.append(alerta);
        }
    </script>
}*@

@*<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miPrimerModal">Abrir Modal</button>

<div class="modal fade" id="miPrimerModal" tabindex="1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Titulo del Modal</h5>
                <button type="button" class="btn btn-close" data-bs-toggle="modal" data-bs-target="#miPrimerModal"></button>
            </div>
            <div class="modal-body">
                <p>Este es un formulario pequeño de ejemplos</p>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre: </label>
                        <input type="text" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" data-bs-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>*@