@model IEnumerable<TareaAplicacionWeb.Models.Tarea>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Lista de Tareas</h1>

<div>
   
</div>


<div >
    <table class="table table-hover table-bordered table-striped table-sm">
        <thead >
            <tr>
                <td>Titulo</td>
                <td>Descripcion</td>
                <td>Fecha de Vencimiento</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>
