
<div class="text-center mb-3">
    <h1 class="display-4">Soy Josue Gonzalez</h1>

    <h2>Soy un Estudiante de la carrera de la carrera de ingenieria en Sistemas y actualente estoy cursando la clase de Programacion Orientada a Objetos</h2>

    <img class="img-fluid w-25 rounded-circle"
         src="~/images/foto02.jpg" alt="Imagen de perfil" />
</div>

@*Logo.net*@
<div class="text-center mb-3">
    <img class="img-fluid w-25" src="~/images/dotnet-imagen-2.png" />
</div>

@*Bloque Experiencia*@
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h2>Bienvenido a mi Portafolio</h2>
        <p>
            Soy una persona amateur en programacion, actualmente manejo los lenguajes de C++, JAVA, C#, HTML, CSS.
            Me gusta aprender acerca del mundo tecnologico y mas adelante desempeñarme como programador y poder
            optar por un puesto en una de las grandes empresas como ser microsoft o google e incluso poder aspirar

        </p>
    </div>
</div>