@model HomeViewController

@{
    ViewData["Title"] = "Integrantes";
}

<div class="edit-integrantes">
    <h2>Integrantes: </h2>
    <p>Lesvi Yadira Flores - lesvi.flores@unah.hn </p>
    <p>Alan Josue Gonzalez - ajgonzalezh@unah.hn</p>
    <div class="img-person">
        <img class="img-sist" src="~/images/logo-sistemas.png" alt="Logo Ing. en Sistemas"/>
        <img class="img-unah" src="~/images/Logo-UNAH.png" alt="Logo UNAH" />
    </div>
</div>