@model ProductosViewModel

@{
    ViewData["Title"] = "Ingresar un nuevo producto";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Productos" asp-action="Crear" class="form-edit">

    <div class="mb-3 form-group">
        <label class="form-label" asp-for="Producto.Nombre"></label>
        <input asp-for="Producto.Nombre" class="form-control" placeholder="Nombre" />
        <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label class="form-label" asp-for="Producto.Precio"></label>
        <input asp-for="Producto.Precio" class="form-control" placeholder="Precio" />
        <span asp-validation-for="Producto.Precio" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label class="form-label" asp-for="Producto.Marca"></label>
        <input asp-for="Producto.Marca" class="form-control" placeholder="Marca" />
        <span asp-validation-for="Producto.Marca" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label class="form-label" asp-for="Producto.Descripcion"></label>
        <input asp-for="Producto.Descripcion" class="form-control" placeholder="Descripcion" />
        <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label for="proveedor">Proveedor:</label>
        <select class="form-control" id="proveedor" asp-for="Producto.ProveedorId" asp-items="Model.Proveedores">
        </select>
    </div>

    <div class="mb-3 form-group">
        <label for="categoria">Categoria:</label>
        <select class="form-control" id="categoria" asp-for="Producto.CategoriaId" asp-items="Model.Categoria">
        </select>
    </div>

     <button class="btn btn-primary" type="submit">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}