@model ClienteViewModel

@{
    ViewData["Title"] = "Ingresar un nuevo cliente";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Cliente" asp-action="Crear" class="form-edit">
    <div mb-3 form-group>
        <label class="form-label" asp-for="Cliente.Nombre"></label>
        <input asp-for="Cliente.Nombre" class="form-control" placeholder="Nombre"/>
        <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
    </div>

    <div mb-3 form-group>
        <label class="form-label" asp-for="Cliente.Apellido"></label>
        <input asp-for="Cliente.Apellido" class="form-control" placeholder="Apellido" />
        <span asp-validation-for="Cliente.Apellido" class="text-danger"></span>
    </div>

    <div mb-3 form-group>
        <label class="form-label" asp-for="Cliente.Direccion"></label>
        <input asp-for="Cliente.Direccion" class="form-control" placeholder="Dirrecion" />
        <span asp-validation-for="Cliente.Direccion" class="text-danger"></span>
    </div>

    <div mb-3 form-group>
        <label class="form-label" asp-for="Cliente.Dni"></label>
        <input asp-for="Cliente.Dni" class="form-control" placeholder="DNI" />
        <span asp-validation-for="Cliente.Dni" class="text-danger"></span>
    </div>

    <div mb-3 form-group>
        <label class="form-label" asp-for="Cliente.Telefono"></label>
        <input asp-for="Cliente.Telefono" class="form-control" placeholder="Telefono" />
        <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}